# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/

# pytest
.pytest_cache/

# Mac
.DS_Store

# Data files
data/raw/*.csv
data/predictions/

# Models
models/*.joblib

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/